#home {
  background: url('/images/nail-gilfanov-TuyneoFacJg-unsplash.jpg'); // Photo by Nail Gilfanov on Unsplash
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;

  .align-items-center {
    margin-top: 70px;
  }
}

.banner-area {
  display: flex;
  padding-bottom: 56px;
  padding-top: 90px;
}

.banner-right {
  margin-right: -5rem;
}

.banner-left h1 span {
  text-transform: uppercase;
  font-weight: 600;
  color: #848ccf;
}

.banner-text {
  text-align: start;
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 40px;
  color: whitesmoke;

  h2 {
    font-size: 20px;
    font-weight: lighter;
  }
}

.img-fluid {
  max-width: 40% !important;
  height: auto;
  vertical-align: middle;
  margin-top: 5px;
}
