// CSS for Home page projects' area
.projects {
  min-height: 100vh;
  min-width: 85%;
  margin-bottom: -65px;
}

.title h2 {
  font-weight: bold;
  font-size: 40px;
  margin-top: 56px;
  margin-bottom: 48px;
}

.debugmom-img {
  border-radius: 10px;
  width: 20rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.text-inline {
  margin: 15% auto;

  p {
    text-align: justify;
  };

  h3 {
    margin-bottom: 16px;
  }
}

// 2d Project
.flatTires-img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  margin: 20% auto;
  vertical-align: middle;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
