.qualifications {
  min-height: 100vh;
  
  h2 {
    font-weight: bold;
    margin: 56px auto;
    font-size: 30px;
    -webkit-text-stroke: 1px white;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 18px;
  }
}

.qualifications .row {
  margin-bottom: 36px;
}

.third-section {
  // Copyright Photo by Aleksander Vlad on Unsplash
  background: url("/aleksander-vlad-jiVeo0i1EB4-unsplash.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.single-box {
  margin: 32px auto;
  background-color: #f9f9ffb9;
  padding: 12px;
  border-radius: 8px;
}

.btm-border{
    background: rgb(190, 190, 190);
    width: 70%;
    height: 1px;
}
