<section class="banner-area" id="home">
  <div class="container"> 
    <div class = "row justify-content-start align-items-center">
      <div class="col-lg-6 col-md-12 no-padding banner-right">
        <%= image_tag(("profile-picture.jpg"), class: "img-fluid", alt: "Kristina's picture") %>
      </div>
      <div class="col-lg-6 col-md-12 banner-left">
        <h1 class="banner-text">
          Hi, I'm  <br>
          <span>Kristina Zhizherina</span> <br>
          Junior Front End Developer
        </h1>
      </div>
    </div>
  </div><!--#container-->
</section><!--#banner-area-->
    
<section class="info-area" id="info">
  <div class="container info-text">
    <div class="row">
      <div class="col-lg-6">
        <div class="welcome-text">
          <h2>About myself</h2>
          <div>
            <img class="rocket-img" src="rocket-img.png" alt="Rocket image" copyright="Icon made by Flat Icons from www.flaticon.com"/>
            <p>
            Passionate and extremely motivated Junior Front end developer eager to learn and create something new every day.</p>
          </div>
          <hr>
          <div> 
            <img class="team-img" src="team-img.png" alt="Team image" copyright="Icon made by Flat Icons from www.flaticon.com">
            <p>Productive and effective either way if it is a team-play or independent work.</p>
          </div>
          <hr>
          <div>
            <img class="webdesign-img" src="webdesign-img.png" alt="Web-design image" copyright="Icon made by Freepik from www.flaticon.com">
            <p>Keen to build or clone sites that will be optimized to load fast, responsive, and a pleasure to use.</p>
          </div>
          <hr>
          <div>
            <img class="competence-img" src="competence-img.png" alt="Competence image" copyright="Icon made by Flat Icons from www.flaticon.com">
            <p>4 years of customer communication, adaptability, and time-management solid experiences in a huge car company.</p>
          </div>  
          <hr>
        </div>
      </div><!--col-lg-6-->
      <div class="col-lg-6">
        <div class="tools">
          <h2>Tools Expertness</h2>
          <p><a href="http://w3schools-fa.ir/html/html_intro.html" target="_blank">HTML</a></p>
          <div class="skill-container">
            <div class="skills html">80%</div>
          </div>
          <p>
            <a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS3</a> 
            & 
            <a href="https://sass-lang.com/" target="_blank">SASS</a>
          </p>
          <div class="skill-container">
            <div class="skills css">80%</div>
          </div>
          <p><a href="https://git-scm.com/" target="_blank">Git</a></p>
          <div class="skill-container">
            <div class="skills git">70%</div>
          </div>
          <p>
            <a href="https://www.w3schools.com/js/default.asp" target="_blank">JavaScript</a>
            <a href="https://www.w3schools.com/js/js_es6.asp" target="_blank"> (ES6) </a>
          </p>
          <div class="skill-container">
            <div class="skills js">50%</div>
          </div>
          <p>
            <a href="https://www.ruby-lang.org/en/about/" target="_blank">Ruby</a>
            <a href="https://rubyonrails.org/" target="_blank">(RoR)</a>
          </p>
          <div class="skill-container">
            <div class="skills ruby">50%</div>
          </div>
        </div><!--#tools-->
      </div><!--col-lg-6-->
    </div>
  </div>
</section><!--#info-area-->

<section class="third-section">
  <div class="container qualifications">
    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div>
          <h2>Work History</h2>
          <div class="single-box">
            <h3>Customer Service Specialist</h3>
            <p>March 2016 - January 2020</p>
            <h4>Avis Budget</h4>
          </div>
          <div class="single-box">
            <h3>Volunteer</h3>
            <p>May 2013</p>
            <h4>SportAccord</h4>
          </div>
            <div class="single-box">
            <h3>Volunteer</h3>
            <p>June - July 2012</p>
            <h4>UNESCO</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6">
        <div>
          <h2>Qualifications</h2>
          <div class="single-box">
            <h3>Full-Stack Web Developer Bootcamp</h3>
            <p>July - September 2020</p>
            <h4>Le Wagon</h4>
          </div>
          <div class="single-box">
            <h3>Bachelor of International Affairs</h3>
            <p>September 2011 - 2015</p>
            <h4>Saint-Petersburg Institute of International Economic Links, Economics and Law</h4>
          </div>
        </div>
      </div>
    </div><!--#row-->
  </div>
</section><!--#qualifications-->

<section class="fourth-section">
  <div class="container projects">
    <div class="title">
      <h2>Recent Projects</h2>
    </div>
    <div class="row project-row">
      <div class="col-lg-6 col-sm-6 no-padding">
        <img class="debugmom-img img-fluid" src="debug.mom-img.png" alt="DEBUG.mom website picture">
      </div>
      <div class="col-lg-6 col-sm-6 text-inline">
        <h3>DEBUG.mom</h3>
        <p>A team project app created at Le Wagon Bootcamp. 
          It was made for non-tech-savvy people reaching out for help with everyday tech-related problems.
        </p>
        <hr><br> 
        <p>
          <a href="http://www.debug-mom.com/" target="_blank"><i class="fas fa-globe"></i> >  Website</a> 
        </p>
        <p>
          <a href="https://github.com/Maxmulis/debug_mom" target="_blank"><i class="fab fa-github"></i> >  GitHub</a>
        </p>
      </div>
    </div><!--#1row-->
    <div class="row project-row">
      <div class="col-lg-6 col-sm-6 text-inline">
        <h3>Flat Tires</h3>
        <p>A team Airbnb clone exercise-project created at Le Wagon Bootcamp. Made in order to exercise programming skills.</p>
        <hr><br> 
        <p>
          <a href="https://flat-tires-platform.herokuapp.com/" target="_blank"><i class="fas fa-globe"></i> >  Website</a> 
        </p>
        <p>
          <a href="https://github.com/ipd39952/flat_tires_platform" target="_blank"><i class="fab fa-github"></i> >  GitHub</a>
        </p>
      </div>
      <div class="col-lg-6 col-sm-6">
        <img class="flatTires-img" src="flatTires-img.png" alt="Flat-Tires website picture">
      </div>
    </div><!--#1row-->
  </div>
</section><!--#fourth-section-->

<section class="fifth-section">
  <div class="title">
    <h2>Hobbies</h2>
  </div>
  <div class="container">
    <div class="row hobbies">
      <div class="col-lg-4 col-md-6">
        <div class="feature-item travel-img">
          <p>Traveling is a passion</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item sport-img">
          <p>Sport is a lifestyle</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item video-img">
          <p>Video editing is an entertainment</p>
        </div>
      </div>
    </div>
  </div>
</section><!--#fifth-section-->
