<section class="banner-area" id="home">
      <div class="container"> 
        <div class = "row justify-content-start align-items-center">
          <div class="col-lg-6 col-md-12 no-padding banner-right">
          <%= image_tag(("profile-picture.jpg"), class: "img-fluid", alt: "Kristina's picture") %>
          </div>
          <div class="col-lg-6 col-md-12 banner-left">
            <h1 class="banner-text">
              Hi, I'm  <br>
              <span>Kristina Zhizherina</span> <br>
              Junior Front End Developer
            </h1>
          </div>
        </div>
      </div><!--#container-->
    </section><!--#banner-area-->
    
    <section class="info-area" id="info">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="welcome-text">
              <h2>About myself</h2>
              <p>I am an inspired beginner in Front End development.</p>
            </div>
          </div>
            
          <div class="col-lg-6">
            <div class="tools">
              <h2>Tools Expertness</h2>
              <p><a href="http://w3schools-fa.ir/html/html_intro.html" target="_blank">HTML</a></p>
              <div class="skill-container">
                <div class="skills html">80%</div>
              </div>
              <p>
                <a href="https://www.w3schools.com/css/default.asp" target="_blank">CSS3</a> 
                & 
                <a href="https://sass-lang.com/" target="_blank">SASS</a>
              </p>
              <div class="skill-container">
                <div class="skills css">80%</div>
              </div>
              <p><a href="https://git-scm.com/" target="_blank">Git</a></p>
              <div class="skill-container">
                <div class="skills git">70%</div>
              </div>
              <p>
                <a href="https://www.w3schools.com/js/default.asp" target="_blank">JavaScript</a>
                <a href="https://www.w3schools.com/js/js_es6.asp" target="_blank"> (ES6) </a>
              </p>
              <div class="skill-container">
                <div class="skills js">50%</div>
              </div>
              <p>
                <a href="https://www.ruby-lang.org/en/about/" target="_blank">Ruby</a>
                <a href="https://rubyonrails.org/" target="_blank">(RoR)</a>
              </p>
                <div class="skills ruby">50%</div>
              </div>
               
            </div><!--#tools-->
          </div>
        </div>
      </div>
    </section><!--#info-area-->

      <div class = "card">
        <h2>Hobbies</h2>
          <p>My passion is travelling.</p>
      </div>

      <div class = "card">
        <h2> Follow me </h2>
        <ul>
          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          <li><a href=""><i class="fab fa-github-alt"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
