<section class="card-palette">
  <main class="page-content">
    <div class="card card-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1568775376697-e16970e74861?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80)">
      <div class="content">
        <h2 class="title">Flat Tires</h2>
        <p class="copy">A team made Airbnb clone exercise-project made in order to exercise programming skills.</p><hr>
        <a class="btn-sm-purple" href="https://flat-tires-platform.herokuapp.com/" target="_blank">View</a>
      </div>
    </div>
    <div class="card card-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(debug_girl.png)">
      <div class="content">
        <h2 class="title">DEBUG.mom</h2>
        <p class="copy">A team made app for non-tech-savvy people reaching out for help with everyday tech-related problems.</p>
        <a class="btn-sm-purple" href="http://www.debug-mom.com/" target="_blank">View</a>
      </div>
    </div>
    <div id="form-project" class="card card-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(images/project-img.png)">
      <div class="content">
        <h2 class="title">Survey Form</h2>
        <p class="copy">Survey form made with Bootstrap & SASS.</p> <hr><hr>
        <a class="btn-sm-purple" href="https://codepen.io/1Kris1/full/rNMxqdP" target="_blank">View</a>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title"></h2>
        <p class="copy"></p>
        <button class="btn-sm-purple">View</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title"></h2>
        <p class="copy"></p>
        <button class="btn-sm-purple">View</button>
      </div>
    </div>
  </main>
</section><!--#card-palette-->
