.footer {
  // position: absolute;
  // bottom: 0;

  background: #10201F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 15rem;
  padding: 0px 50px;
  text-align: start;
  flex-wrap: wrap;

  p {
    color: white;
  }
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  padding: 0px 10px;
}

.social-links a:hover {
  opacity: 1;
}

.social-links  p {
  padding-right: 20px;
}

.footer .fa-heart {
  color: #D23333;
}
